*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.left-header{
    width: 40%;
}

.right-header{
    width: 30%;
}

.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    align-self: center;
}

.img{
    width: 300px;
}

.imgdown{
    margin-top: 10rem;
    width: 300px;
}

.imgages img{
    border-radius: 5px;
    box-shadow: 0px 0px 9px black;
}

.dik{
    transform: rotate(90deg);
    position: absolute;
    right: 0rem;
    margin-top: 35px;
    font-size: 50%;
}

.yazi{
    width: 100%;
    position: relative;
}